.page-navigation {
    position: absolute;
    top: 50%;
    margin-top: -50px;

    opacity: 0.8;

    &.page-previous {
      left: -0.5em;
    }

    &.page-next {
      right: -0.5em;
    }

    @include breakpoint("<=small") {
      &.page-previous {
        left: 0.5em;
      }

      &.page-next {
        right: 0.5em;
      }
    }
  }